
.is-hidden{
   display: none;

}

@media (min-width: 700px){
    .catImg{
        width: 400px;
        border-radius: 20px;
        }


    
    .app
{     
        display: flex;
        flex-direction:row;
        margin-top: 30px;
        
    }
    .description-card{
  
      margin-left: 30px;
    }

}
@media (min-width: 1015px){
   
}
body{
    background-color:dimgray
}


.ss-main{
    width: 303px;
    align-items: center;
}
@media (min-width: 320px)and (max-width: 700px){
    .app
    {
        display: flex;
        flex-direction: column;
     margin-top: 30px;
     
     
    }

}



.loader {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    border: 2px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
 }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 